* {margin:0;padding:0;}
html, body {height: 100%;}
body {
  background: #D6D7E0;
  color: #666;
}

#main {
  overflow:auto;
	/*padding-bottom: 180px;*/
  padding: 5px 50px 180px 50px;
  /*position: relative;*/
}

#wrap {min-height: 100%;}

.grid-block, .main, .query, .comments li, .comment-form {
  background: #fff;
  border-radius: 3px;
  padding: 10px;
  margin-bottom: 10px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15); }

.page {
  position: absolute;
  top: 0px;
  width: 100%;
}

.navbar {
  margin-bottom: 10px;
  background-color:#fff;
}
  /* line 32, ../sass/style.scss */
  .navbar .navbar-inner {
    border-radius: 0px 0px 3px 3px; }

.spinner-container {
  height: 300px; }

.query {
  /* For modern browsers */
  /* For IE 6/7 (trigger hasLayout) */
  *zoom: 1;
  position: relative;
  opacity: 1; }
  .query:before, .query:after {
    content: "";
    display: table; }
  .query:after {
    clear: both; }
  .query.invisible {
    opacity: 0; }
  .query.instant {
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none; }
  .query.animate{
    -webkit-transition: all 300ms 0ms;
    -moz-transition: all 300ms 0ms ease-in;
    -o-transition: all 300ms 0ms ease-in;
    transition: all 300ms 0ms ease-in; }
  .query .upvote {
    display: block;
    margin: 7px 12px 0 0;
    float: left; }
  .query .query-content {
    float: left; }
    .query .query-content h3 {
      margin: 0;
      line-height: 1.4;
      font-size: 18px; }
      .query .query-content h3 a {
        display: inline-block;
        margin-right: 5px; }
      .query .query-content h3 span {
        font-weight: normal;
        font-size: 14px;
        display: inline-block;
        color: #aaaaaa; }
    .query .query-content p {
      margin: 0; }
  .query .discuss {
    display: block;
    float: right;
    margin-top: 7px; }

.comments {
  list-style-type: none;
  margin: 0; }
  .comments li h4 {
    font-size: 16px;
    margin: 0; }
    .comments li h4 .date {
      font-size: 12px;
      font-weight: normal; }
    .comments li h4 a {
      font-size: 12px; }
  .comments li p:last-child {
    margin-bottom: 0; }

.dropdown-menu span {
  display: block;
  padding: 3px 20px;
  clear: both;
  line-height: 20px;
  color: #bbb;
  white-space: nowrap; }

.load-more {
  display: block;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.05);
  text-align: center;
  height: 60px;
  line-height: 60px;
  margin-bottom: 10px; }
  .load-more:hover {
    text-decoration: none;
    background: rgba(0, 0, 0, 0.1); }

.jumbotron{
  text-align: center;
}
.jumbotron h2{
  font-size: 60px;
  font-weight: 100;
}

@-webkit-keyframes fadeOut {
  0% {opacity: 0;}
  10% {opacity: 1;}
  90% {opacity: 1;}
  100% {opacity: 0;}
}

@keyframes fadeOut {
  0% {opacity: 0;}
  10% {opacity: 1;}
  90% {opacity: 1;}
  100% {opacity: 0;}
}

.errors{
  position: fixed;
  z-index: 10000;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  pointer-events: none;
}

.alert {
          animation: fadeOut 2700ms ease-in 0s 1 forwards;
  -webkit-animation: fadeOut 2700ms ease-in 0s 1 forwards;
     -moz-animation: fadeOut 2700ms ease-in 0s 1 forwards;
  width: 250px;
  float: right;
  clear: both;
  margin-bottom: 5px;
  pointer-events: auto;
}

.logo {
  margin: -10px 10px 0px 2px;
  width: 100%;
  max-width: 150px;
}

.table-nowrap {
  table-layout: fixed;
}

.table-nowrap td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*
Sticky Footer Solution
*/
/*
* {margin:0;padding:0;}
*/
/*
html, body {height: 100%;}
*/
#wrap {min-height: 100%;}
/*
#main {overflow:auto;
	padding-bottom: 180px;
  width:80%;
}*/
/* must be same height as the footer */

#footer {position: relative;
	margin-top: -100px;
	height: 100px;
  padding: 25px 50px 0px 50px;
  background-color: #444;
  color: #eee;
  clear:both;
}

#footer a{
  color: #999;
}

/*Opera Fix*/
body:before {
  content:"";
  height:100%;
  float:left;
  width:0;
  margin-top:-32767px;
}

/* IMPORTANT
You also need to include this conditional style in the <head> of your HTML file to feed this style to IE 6 and lower and 8 and higher.
<!--[if !IE 7]>
	<style type="text/css">
		#wrap {display:table;height:100%}
	</style>
<![endif]-->
*/

#google ul{
   list-style-type: none;
   text-align: center;
}

#google li{
   display: inline;
   text-align: center;
   margin: 0 10px 0 0;
}

#google a{
  text-decoration: none;
}

#footer img.desaturate {
-webkit-filter: grayscale(100%);
filter: grayscale(100%);
}

#footer img:hover {
  -webkit-filter: none;
  filter: none;
}
