<template name="questionModalTemplate">
  <div class="modal fade" id="questionModal">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Nueva Pregunta</h4>
        </div>
        <div class="modal-body">
          <div ><label for="question">Pregunta:</label></div>
          <div ><input type="text" id="question"/></div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary" id="add">Añadir</button>
        </div>
      </div>
    </div>
  </div>
</template>
