<template name="showQuestions">

  <table class="table table-hover">
    <thead>
      <tr>
        <th>#Identificador</th>
        {{#each getQuestions}}
          <th>{{this}}</th>
        {{/each}}
      </tr>
    </thead>
    <tbody>
      {{#each this}}
        <tr>
        <td>{{_id}}</td>
        {{#each answers}}
          <td>{{this}}</td>
        {{/each}}
        </tr>
      {{/each}}
    </tbody>
  </table>
</template>


<template name="noAnswer">
  <div class="modal fade" id="noAnswerModal">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">No hay ninguna respuesta para esta encuesta</h4>
        </div>
        <div class="modal-body">
          <button class="btn btn-danger"  data-dismiss="modal" aria-hidden="true">Continuar</button>
        </div>
      </div>
    </div>
  </div>
</template>
