<template name="deleteSurveyTemplate">
  <div class="modal fade" id="deleteSurveyModal">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">¿Estas seguro que quieres borrar la encuesta?</h4>
        </div>
        <div class="modal-body">
          <button class="btn btn-primary" id="{{survey}}">Confirmar</button>
          <button class="btn btn-default"  data-dismiss="modal" aria-hidden="true">Cancelar</button>
        </div>
      </div>
    </div>
  </div>
</template>
