<template name="header">
  <nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{pathFor 'queriesList'}}"><img src="images/logo.jpg" class="logo" alt="" /></a>
    </div>
    <div class="collapse navbar-collapse" id="navigation">
      <ul class="nav navbar-nav">
        {{#if currentUser}}
          {{#if isInRole 'admin'}}
            <li><a href="{{pathFor 'queryAdd'}}">Add query</a></li>
            <li><a href="{{pathFor 'companies'}}">Companies</a></li>
            <li><a href="{{pathFor 'lines'}}">Lines</a></li>
            <li><a href="{{pathFor 'customers'}}">Customers</a></li>
            <li><a href="{{pathFor 'apis'}}">APIs</a></li>
            <li><a href="{{pathFor 'users'}}">Users</a></li>
            <!-- li style="font-size: 80%;"><a href="{{commit_url}}" target="_blank">{{auto_app_release}}</a></li -->
          {{/if}}
        {{/if}}
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {{#if currentUser}}
          <img class="img-rounded"
               style="height: 32px; margin: 8px 8px 0px 0px;"
               src="{{currentUser.services.google.picture}}"/>
          <!-- {{currentUser.services.google.name}} -->
        {{/if}}
        {{> loginButtons}}
      </ul>
    </div>
  </nav>
</template>
